body {
    padding: 0px;
}
.calc{
  position:absolute;
  background-color:rgb(252, 249, 69) ;
  min-width: 300px;
  min-height: 350px;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  
}
#disp{
  display:block;
  min-height: 60px;
  background-color:#000;
  margin:8px;
}
.calc button{
  min-height:54px;
  min-width:71px;
  background-color:rgb(250, 242, 128);
  margin : 0px;
}
#ans{
  width:295px;
}
#disp{
  font-size:45px;
  text-align:right;
  overflow:auto;
  background-color:white;
}